.restaurantName {
    display: flex;
    justify-content: center; /* Centers the title */
    align-items: center; /* Vertically centers the items */
    position: relative; /* Vertically centers the items */
    padding: 10px;
}

.title {
  font-size: 34px;
}

.profile {
    position: absolute;
    right: 10px; /* Adjusts how far from the right the logout link should be */
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-right: 120px;

}

.profile:hover {
  text-decoration: underline;
}

#map {
    height: 300px; /* The height is 400 pixels */
    width: 40%; /* The width is the width of the web page */
    margin: 80px auto;
}

.restaurantName {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
    margin-bottom: 10px;
    height: 150px;
}

.information {
    text-align: center;
}

.reviewDiv {
    align-content: center;
    justify-content: center;
    text-align: left;
    border: black solid 1px;
    margin: 10px;
    width : 75%;
    padding: 0 10px;
}

#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.backButton {
    background: #333;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.backButton:hover {
    background:#6A11CB;
    border-radius: 8px;
}

.search {
    position: absolute;
    left: 10px; /* Adjusts how far from the right the logout link should be */
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-left: 120px;
}

.search:hover {
    text-decoration: underline;
}