body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4f8cff, #9147ff);
    color: white;
}

/* Centered container */
.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 1300px;
    height: 800px;
    text-align: center;
    color: #333;
}

/* Text styling */
h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #555;
}

.searchAndMap {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px;
    justify-content: center;
    align-items: center;
}


#map {
    height: 630px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

#title {
    display: flex;
    justify-content: center; /* Centers the title */
    align-items: center; /* Vertically centers the items */
    position: relative; /* Vertically centers the items */
    padding: 10px;
}

.title {
  font-size: 34px;
}

.logout {
  position: absolute;
  right: 10px; /* Adjusts how far from the right the logout link should be */
  font-size: 16px;
  text-decoration: none;
  color: #333; /* Pushes logout link to the far right */
}

.logout:hover {
  text-decoration: underline;
}

#menu{
    display: flex;
    background: #333;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.1);

}

.flex-item{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    flex: 1 1 0;

}

.flex-item:hover{
    background:#6A11CB;
    border-radius: 8px;
}

.restaurant_search {
    border-radius: 22px;
    height: 60px;
    width: 200px;
    padding: 0 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    margin: 0 10px;
}

.filters {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ratings {
    position: relative; /* Ensure the parent element is positioned */
    border-radius: 22px;
    height: 60px;
    width: 100px;
    padding: 0 10px;
    font-size: 15px;
    background-color: #f9f9f9; /* Matches typical input background */
    color: #333; /* Text color */
    outline: none; /* Removes outline on focus */
    text-align: center; /* Centers the text */
    border: 1px solid #ccc;
    margin: 0 10px;
}

.distance {
    position: relative; /* Ensure the parent element is positioned */
    border-radius: 22px;
    height: 60px;
    width: 130px;
    padding: 0 10px;
    font-size: 15px;
    background-color: #f9f9f9; /* Matches typical input background */
    color: #333; /* Text color */
    outline: none; /* Removes outline on focus */
    text-align: center; /* Centers the text */
    border: 1px solid #ccc;
    margin: 0 10px;
}

.allRestaurants {
    background-color: lightgray;
}

.scrollableDiv {
    height: 450px;
    max-height: 450px;
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 20px; /* Optional margin */
    background-color: #333;
    border: none;
    border-radius: 8px;
}

.placeDiv {
    background-color: #333;
    color: white;
    border: 1px #ccc solid;
}

.placeDiv:hover {
    background:#6A11CB;
}

input[type="text"]::placeholder {
            color: black; /* Light gray color */
            opacity: 1; /* Ensures the color is fully opaque */
        }