#map {
    height: 400px; /* The height is 400 pixels */
    width: 50%; /* The width is the width of the web page */
    margin: 0 auto;
}

#menu{
    background: rgb(195, 144, 144);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

#title {
    height: 200px;
    text-align: center;
}

.flex-item{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    flex: 1 1 0;
}

.flex-item:hover{
    background: rgb(228, 168, 168);
    text-decoration: underline;
}

html, body {
    height: 100%;
    padding: 0;
  }