body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6A11CB, #2575FC);
    height: 100%;
}

#menu{
    display: flex;
    background: #333;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,0.1);

}

#title {
    display: flex;
    justify-content: center; /* Centers the title */
    align-items: center; /* Vertically centers the items */
    position: relative; /* Vertically centers the items */
    padding: 10px;
}

.title {
  font-size: 34px;
}

.logout {
  position: absolute;
  right: 10px; /* Adjusts how far from the right the logout link should be */
  font-size: 16px;
  text-decoration: none;
  color: #333;
}

.logout:hover {
  text-decoration: underline;
}

.flex-item{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    flex: 1 1 0;
}

.flex-item:hover{
    background:#6A11CB;
    border-radius: 8px;
}

.container {
    width: 60%;
    max-width: 1000px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgb(0,0,0,0.2);
}

h1, h2 {
    text-align: center;
}

#restaurant-list {
    height: 450px;
    max-height: 450px;
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 20px; /* Optional margin */
    background-color: #333;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.favorite-restaurant-item {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    padding: 10px;
    justify-items: center;
    align-items: center;
}

.favorite-restaurant-item {
    background-color: #333;
    color: white;
    border: 1px #ccc solid;
}

.favorite-restaurant-item:hover {
    background:#6A11CB;
}