<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>

    {% load static %}

    <!-- Link to CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required><br>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><br>

            <button type="submit">Login</button>

            <br>

            <p>If you do not have an account registered with this site, register at this link. <a href="{% url 'signup' %}">Signup Here</a></p>
        </form>
    </div>
</body>

</html>