<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}'s Profile</title>

    <!-- Load static files -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_styles.css' %}">
</head>
<body>
    <div class="container">
        <div id="title">
            <h1 class="title">Atlanta Food Finder</h1>
            <a href="{% url 'login' %}" class="logout">Logout</a>
        </div>

        <div id="menu">
            <a href="{% url 'profile' %}" class="flex-item">Profile</a>
            <a href="{% url 'map' %}" class="flex-item">Map</a>
        </div>

        <h1>Welcome, {{ user.username }}!</h1>
        <div id="favorite-restaurants">
            <h2>Your Favorite Restaurants:</h2>
            <div id="restaurant-list">
                <!-- Favorite restaurants will be injected here -->
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/profile.js' %}"></script>
</body>
</html>
