<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ user.username }}'s Profile </title>

    <!-- Load static files -->
    {% load static %}

    <!-- Link to CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_styles.css' %}">
</head>
<body>
    <div id="title">
        <h1>Atlanta Food Finder</h1>
    </div>

    <div id="menu">
        <a href="{% url 'profile' %}" class="flex-item">Profile</a>
        <a href="{% url 'map' %}" class="flex-item">Map</a>
    </div>

    <h1>Welcome, {{ user.username }}!</h1>
</body>
</html>