#menu{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    background: linear-gradient(to right,#9147ff, #4f8cff);
}

#title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    flex: 1 1 0;
}

.flex-item:hover{
    background: rgb(228, 168, 168);
    text-decoration: underline;
}

body {
    background: linear-gradient(to right, #4f8cff, #9147ff);
}

#scroll-section {
    height: 200px; /* Set a fixed height */
    overflow-y: scroll; /* Enable vertical scrolling */
    border: 3px solid #ffffff; /* Optional: border for visibility */
    padding: 10px; /* Optional: padding for content */
}